body {
background-color: darkgrey;
margin: 0px;
}

.zindex {
position: fixed;
width: 100%;
z-index: 1000px;
top: 0px;
}

.hero-section{
margin-top: 150px;
}

h3 {
font-size: 25px;
text-align: center;
text-transform: capitalize;
color: black;
}

.paragraph {
font-size: 20px;
padding: 10px;
font-style: italic;

}


header{
background-color: lightgreen;
font-size: 12px;
width: 100%;
padding: 3px;
text-align: center;
text-transform: uppercase;
color: white;
margin-bottom: 0px;
}

.navbar{
margin-top: 0px;
}


.navbar ul {
list-style: none;
padding: 0;
display: flex;
margin-top: 0px;
}

.navbar li {
padding: 15px;
background-color: brown;
font-size: 20px;
width: 100%;
}

.navbar a {
text-decoration: none;
color: white;
}


.container{
display: flex;
flex-wrap: wrap;
gap: 10px;
}

.box1 {
margin-top:20px;
border: 5px solid white;
border-radius: 10px;
padding: 0px;
}

img {
width: 100%;
}

.watsapp {
width: 40px;
height: 40px;
}

p {
text-align: justify;
font-size: 18px;
}

figcaption{
color: Red;
}

.live-chat {
position: fixed;
}